use RAG Always follow these simple rules when using ituse get projects to identify what project you're working inthe folder you're working in will match the file path for that project.And all contents of the vector databaseare indexed by node id not file name